<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
		<title>Queen Attack</title>
	</head>
	<body>
		<div class="container">
      <div class="jumbotron">
        <h1>Check to see if the queen can take the piece</h1>
      </div>
			<div class="row">
				<div class="col-md-12 chessboard">
					@{
						var squareCount = 0;
						for (var gridRow = 0; gridRow < 8; gridRow++)
						{
							squareCount++;
							for (var gridColumn = 0; gridColumn < 8; gridColumn++)
							{
								squareCount++;
								if (squareCount % 2 == 0 )
								{
									<form action="/target" method="Post">
										<input type="hidden" name="clicked" value="@gridRow+gridColumn">
										<button type="submit" class="dark"></button>
									</form>
								}
								else
								{
									<form action="/target" method="Post">
										<input type="hidden" value="@gridRow+gridColumn">
										<button type="submit" class="light"></button>
									</form>
								}
							}
						}
					}
				</div>
			</div>
		</div>
	</body>
</html>
